@model List<Forum.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>

<div>
    <a asp-area="" asp-controller="User" asp-action="Create">Create new User</a>
    <br/>
    <table border="2">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td></td>
        </tr>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Name</td>
                <td>@u.Email</td>
                <td>@Html.ActionLink("Delete", "Delete", new {id = u.Id})</td>
            </tr>
        }
    </table>
    <br/>
    <p>Count: @Model.Count</p>
</div>