@model Forum.Models.Comment

@{
    ViewData["Title"] = "Comment details";
}

<h2>Comment Details</h2>

<div>
    <h4>Comment</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Created At
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            User Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            Post Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
